<!-- about banner start -->
<section class="about-banner">
    <h1 style="color: #1f4388;">
        BIG ENOUGH TO <span>SPECIALIZE,</span>
        SMALL ENOUGH TO <span>PERSONALIZE</span>
    </h1>
    <img src="./img/aboutmain.jpeg" alt="Owl Image">
</section>
<!-- about banner end -->

<!-- top intro start -->
<section class="top-intro">
    <div class="hr1">
        <hr>
    </div>
    <div>
        <p>The Firm is founded by CA Deepak K Gujrati in 1989. He is also the current Managing Partner
            and heads the organisation. The firm has its head office at Varanasi and branch at New Delhi.
            At present we are servicing clients located at Bangalore, Hyderabad, Ambala, Lucknow, Kanpur,
            Gorakhpur, Allahabad, Sonbhadra, Jaunpur, Mirzapur, Bhadohi, Azamgarh and Chandauli.
        </p>
        <p>Our mission is to render professional services of the highest standard to clients, upholding the
            code of conduct and ethics of the profession.
        </p>
        <p>For last 30 years, our primary areas of practice has been Accounting & Business Process
            Outsourcing, Audit & Assurance, Income Tax & Indirect Tax, Corporate Advisory, Family
            Partition and Settlements and Project Financing etc.
        </p>
        <!-- <p>What makes us different is the entrepreneurial spirit of our team, our commitment and dedication
            towards servicing our clients and our passion for constantly upgrading our technical expertise.</p> -->
        <p>While we have grown over the years, we retained our values. We have an inbuilt system of peer
            review and quality check. Partners learn new skills through certificate courses, study circles,
            seminars and webinars. Articles and others attend and participate in group discussions organised
            on every Saturday where Partners are also present.</p>
    </div>
</section>
<!-- top intro end -->

<!-- partner info start -->
<!-- partner info start -->
<section class="partner-info">
    <div class="main-left">
        <div class="photo">
            <img src="./img/Deepak_K_Gujrati.jpeg" alt="">
        </div>
        <div class="right">
            <div class="vertical">

            </div>
            <div class="partner-detail">
                <h3>"</h3>
                <div class="name">
                    <h4>PARTNER</h4>
                    <h2><span>CA DEEPAK K GUJRATI</span></h2>
                </div>
                <div class="para">
                    <p>Year of Enrolment: 1989</p>
                    <p>Area of practice: Direct Tax, Family Partition & Settlements, Legal Matters,<br />
                        Start-Up and Corporate Advisory</p>
                    <p>Contact : deepakgujrati@gmail.com</p>
                </div>
                <!-- <div class="read-more">
                    <p>Read more</p>
                </div> -->
            </div>
        </div>
    </div>
    <div class="main-right">

        <div class="left">

            <div class="partner-detail">
                <h3>"</h3>
                <div class="name">
                    <h4>PARTNER</h4>
                    <h2><span>CA JUGMOHAN VISHAMBHARI</span></h2>
                </div>
                <div class="para">
                    <p>Year of Enrolment: 2011</p>
                    <p>Area of practice: GST, Service Tax, Project Financing, BPO Services</p>
                    <p>Contact : jugmohan@live.in</p>
                </div>
                <!-- <div class="read-more">
                    <p>Read more</p>
                </div> -->
            </div>
            <div class="vertical"></div>
        </div>
        <div class="photo">
            <img src="./img/Jugmohan_Vishambhari.jpeg" alt="">
        </div>
    </div>
    <div class="main-left">
        <div class="photo">
            <img src="./img/manojsingh.jpeg" alt="">
        </div>
        <div class="right">
            <div class="vertical">

            </div>
            <div class="partner-detail">
                <h3>"</h3>
                <div class="name">
                    <h4>PARTNER</h4>
                    <h2><span>CA MANOJ SINGH</span></h2>
                </div>
                <div class="para">
                    <p>Contact : jugmohan@live.in
                    </p>
                    <p>Area of practice: Bank Audit, Company Law Matters, Stock Audit & Due Diligence</p>
                    <p>Contact : camanoj.vns@gmail.com</p>
                </div>
                <!-- <div class="read-more">
                    <p>Read more</p>
                </div> -->
            </div>
        </div>
    </div>
    <div class="main-right">

        <div class="left">

            <div class="partner-detail">
                <h3>"</h3>
                <div class="name">
                    <h4>PARTNER</h4>
                    <h2><span>CA ISHU KANODIA</span></h2>
                </div>
                <div class="para">
                    <p>Year of Enrolment: 2017</p>
                    <p>Area of practice: Tax Audit, NGO Audit, ITR & TDS return filing, <br />
                      Accounting and compliance</p>
                    <p>Contact : camanoj.vns@gmail.com </p>
                </div>
                <!-- <div class="read-more">
                    <p>Read more</p>
                </div> -->
            </div>
            <div class="vertical"></div>
        </div>
        <div class="photo">
            <img src="./img/ishukanodia.jpeg" alt="">
        </div>
    </div>
    <div class="main-left">
        <div class="photo">
            <img src="./img/Govind_Jejodia.jpeg" alt="">
        </div>
        <div class="right">
            <div class="vertical">

            </div>
            <div class="partner-detail">
                <h3>"</h3>
                <div class="name">
                    <h4>PARTNER</h4>
                    <h2><span>CA GOVIND JEJODIA</span></h2>
                </div>
                <div class="para">
                    <p>Year of Enrolment: 2018
                    </p>
                    <p>Area of practice: GST Audit and Internal Audit </p>
                    <p>Contact : jajodiagovind@gmail.com</p>
                </div>
                <!-- <div class="read-more">
                    <p>Read more</p>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!-- partner info end -->
<!-- partner info end -->

<!-- other employee start -->
<!-- <section class="section-other-employee">
    <div class="partner-card-deck">
        <div class="employee-card">
            <img src="./img/Deepak_K_Gujrati.jpeg" alt="">
            <h1 class="p_name">Deepak K Gujrati</h1>
            <p class="sub-title">PARTNER</p>
        </div>
        <div class="employee-card">
            <img src="./img/Deepak_K_Gujrati.jpeg" alt="">
            <h1 class="p_name">Deepak K Gujrati</h1>
            <p class="sub-title">PARTNER</p>
        </div>
        <div class="employee-card">
            <img src="./img/Deepak_K_Gujrati.jpeg" alt="">
            <h1 class="p_name">Deepak K Gujrati</h1>
            <p class="sub-title">PARTNER</p>
        </div>
    </div>
</section> -->
<!-- other employee end -->


<!-- our philosophy start -->
<section>
    <div class="header">
        <h1 style="color:#1f4388;">OUR <span>PHILOSOPHY</span></h1>
    </div>
    <div class="account-compliance">
        <div class="ac-top-card" style="justify-content: space-around">
            <img style="margin: 0; " src="https://chopdakataria.com/wp-content/uploads/2020/06/CK-03-1.png" alt="">
            <div class="info">
                <h1>WE ARE OPEN TO CHANGE,<br><span>BUT FIRM ON OUR VALUES</span></h1>

            </div>
        </div>
        <div class="ac-card-deck">
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Deliver Results</h1>
                    <p>We value your time and ensure promises are kept.
                        We implement controls to deliver on time and assuring
                        the best quality of service.</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Find a better way</h1>
                    <p>A culture of innovation to seek a smarter and better
                        work lifestyle. We integrate latest and emerging
                        technology into our work by use of various digital
                        means such as online accounting, office management
                        software, cloud storage, remote working capabilities
                        etc, to foster persistent professional growth.</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Continuously Improve</h1>
                    <p>We constantly push ourselves to be our best, we
                        focus on solutions, and try to make a difference
                        everyday through our talents, passion and hard
                        work.</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>We Think Long Term</h1>
                    <p>Faith and family values anchor us when we serve
                        our employees, clients and community. We believe
                        in building long term relationships based on
                        mutual trust and effective communication.</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Do The Right Thing</h1>
                    <p>Honesty is first and foremost for us. We uphold
                        our integrity and work ethics intact while
                        serving our clients and community</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- our philosophy end -->


<!-- our philanthroic efforts start -->
<!-- <section>
    <div class="header">
        <h1>OUR <span>PHILANTHROPIC EFFORTS</span></h1>
    </div>
    <div class="effort-info">
        <div class="para">
            <p>Giving back to our community is a huge part of who we are as an organization.
                We regularly volunteer our resources for causes close to our heart.</p>
            <p>We as a team contribute a fixed percentage every year to educate
                children from weaker sections of the society. We are honored to
                contribute to the betterment of our community through continued
                services to a few Non-profit organizations.</p>
        </div>
        <h1><span>GIVING BACK</span><br>
            IS DEEPLY INGRAINED IN OUR FIRM’S CULTURE FROM DAY ONE</h1>
    </div>
    <div class="foundations">
        <img src="https://chopdakataria.com/wp-content/uploads/2020/08/amardhan.jpg" alt="">
        <img src="https://chopdakataria.com/wp-content/uploads/2020/08/jito.png" alt="">
        <img src="https://chopdakataria.com/wp-content/uploads/2020/08/save-animals-2.png" alt="">
        <img src="https://chopdakataria.com/wp-content/uploads/2020/08/kmyf.jpg" alt="">
        <img src="https://chopdakataria.com/wp-content/uploads/2020/08/reap-foundaton.png" alt="">
        <img src="https://chopdakataria.com/wp-content/uploads/2020/08/ashwini-charitable-trust.jpg" alt="">
        <img src="https://chopdakataria.com/wp-content/uploads/2020/08/save-animals.jpg" alt="">
    </div>
</section> -->
<!-- our philanthroic efforts end -->

<!-- our services start -->
<!-- <section class="section">
    <div class="header">
        <h1 class="sp-h1-1">
            OUR <span>SERVICES</span>
        </h1>
    </div>
    <div class="work-card-deck">
        <div class="work-card">
            <img src="https://chopdakataria.com/wp-content/uploads/2020/07/np_accounting_3316173_000000.png" alt="">
            <h1 class="title">ACCOUNTING & COMPLIANCE</h1>
            <p>Use of Comprehensive accounting solutions to ensure you are compliant.</p>
        </div>
        <div class="work-card">
            <img src="https://chopdakataria.com/wp-content/uploads/2020/07/np_audit_3123913_000000.png" alt="">
            <h1 class="title">AUDITING</h1>
            <p>Uncover the hidden anomalies buried in your financial transactions.</p>
        </div>
        <div class="work-card">
            <img src="https://chopdakataria.com/wp-content/uploads/2020/07/np_tax_2977683_000000.png" alt="">
            <h1 class="title">TAX SERVICES</h1>
            <p>We work with you to address all your tax needs to your best advantage.</p>
        </div>
        <div class="work-card">
            <img src="https://chopdakataria.com/wp-content/uploads/2020/07/np_legal_3317572_000000.png" alt="">
            <h1 class="title">LEGAL MATTERS</h1>
            <p>Resolve your legal issues.</p>
        </div>
        <div class="work-card">
            <img src="https://chopdakataria.com/wp-content/uploads/2020/07/np_start-up_2260495_000000.png" alt="">
            <h1 class="title">START-UP ADVISORY</h1>
            <p>One stop – to setup and get your business venture going.</p>
        </div>
        <div class="work-card">
            <img src="https://chopdakataria.com/wp-content/uploads/2020/07/np_corporate_3338025_000000.png" alt="">
            <h1 class="title">CORPORATE ADVISORY</h1>
            <p>We advise you at every stage of your business development.</p>
        </div>
    </div>
    <div class="section-btn">
        <button>KNOW MORE ABOUT <span>OUR SERVICES</span></button>
    </div>
</section> -->
<!-- our services end -->
