<!-- careers banner start -->
<section class="car-banner">
  <div class="ban-car-img">
      <img src="./img/IMGDKG2.jpeg" alt="">
  </div>
  <div class="banner-ca">
    <h1 style="color: #1f4388;"><span>JOIN US TO</span> MAKE DIFFERENCE</h1>
    <div class="car-para">
      <p>We at Deepak K Gujrati & Associates create a respectful work environment that has a great work life
          balance.
          A dynamic office where we thrive together in the spirit of collaboration and fellowship. We work
          hard to accomplish our targets on time. After that, we celebrate.</p>
      <p>Our team members and associates have easy access to partners through an active mentorship
          program. One on one meetings are scheduled to discuss career and personal goals. Moreover, we
          offer ongoing career development program for associates where assignments are shuffled to meet
          interests as well as opportunities for continuing education. We are eager to hear from you. Apply Today.
      </p>
    </div>
  </div>
</section>

<!-- <section class="careers-banner">
    <div class="left">
        <h1><span>JOIN US TO</span><br>
            MAKE A DIFFERNCE</h1>
        <div class="para">
            <p>We at Deepak K Gujrati & Associates create a respectful work environment that has a great work life
                balance.
                A dynamic office where we thrive together in the spirit of collaboration and fellowship. We work
                hard to accomplish our targets on time. After that, we celebrate.</p>
            <p>Our team members and associates have easy access to partners through an active mentorship
                program. One on one meetings are scheduled to discuss career and personal goals. Moreover, we
                offer ongoing career development program for associates where assignments are shuffled to meet
                interests as well as opportunities for continuing education. We are eager to hear from you. Apply Today.
            </p>
        </div>
    </div>
    <div class="center">
        <img src="./img/imgdkg1.jpeg" alt="" width="10" height="100px">
    </div>
</section> -->
<!-- careers banner end -->


<!-- who we look for start -->
<section class="second-banner">
    <h1><span>WHO WE</span> LOOK FOR</h1>
    <p>We always are on the look-out for the inquisitive, hard-working, and committed. We
        believe in the “Learn by Doing” axiom and are looking for new associates who are open-
        minded and curious. We are looking for associates who take the initiative to learn new
        things and are forward-looking.</p>

    <h3>Currently, job openings are available for:</h3>
    <ul>
        {{!-- <li>Associate (Cleared CA/CS final exams)</li>
        <li>Full time Accountant</li>
        <li>Interns </li> --}}
    </ul>
</section>
<!-- who we look for end -->

<!-- submit applicarrion form start -->
<section class="application-form">
    <div class="careers-header">
        <h1 style="margin-bottom: 20px;"><span style="color:white;">ss</span>SUBMIT <span>YOUR APPLICATION</span></h1>
    </div>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd41v_iDR4O1BM_vlfMEnTifl1ksANmJ0qq7p7xbfqeCBm5sw/viewform?embedded=true" width="740" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <!-- <div class="form"> -->
        <!-- <form action="">
            <div class="form-control">
                <label for="name">Name <span>*</span></label>
                <input type="text" name="name" id="name" placeholder="">
            </div>
            <div class="sub-details">
                <div class="form-control">
                    <label for="phone">Phone <span>*</span></label>
                    <input type="text" name="phone" id="phone" placeholder="">
                </div>
                <div class="form-control">
                    <label for="email">Email <span>*</span></label>
                    <input type="email" name="email" id="email" placeholder="">
                </div>
                <div class="form-control">
                    <label for="city">City</label>
                    <input type="text" name="city" id="city" placeholder="">
                </div>
                <div class="form-control">
                    <label for="role">What role are you looking to apply for?</label>
                    <input type="text" name="role" id="role" placeholder="">
                </div>

            </div> -->
            <!-- <div class="form-control">
                <label for="role">Upload Resume <span>*</span> </label>
                <input type="file" placeholder="">
            </div> -->
            <!-- <button class="submitBtn" id="submitBtn1" type="submit"></button>
        </form>
    </div> -->
</section>
<!-- submit applicarrion form end -->
