<!-- contact banner start -->
<section class="contact-banner">
    <h1>CONTACT US,<br><span>WE WILL ASSIST YOU
        </span></h1>
    <div class="para">
        <p>We at Deepak K Gujrati & Associates create a respectful work environment that has a great work life
            balance.
            A dynamic office where we thrive together in the spirit of collaboration and fellowship. We work
            hard to accomplish our targets on time. After that, we celebrate.</p>
    </div>
</section>
<!-- contact banner end -->

<!-- contact details start -->
<section class="contact-details">
    <div>
        <div class="contact-vertical-line"></div>
        <div class="location">
            <div class="title">
                <h4>LOCATION</h4>
            </div>
            <h6>Head Office</h6>
            <p>C 28/142-2A, near Telia Bag crossing, Varanasi, Uttar Pradesh 221002
            </p>
            <h6>Branch Office</h6>
            <p>Ground Floor A-2/177, Sector-8 Rohini, New Delhi 110085
            </p>
        </div>

    </div>
    <div>
        <div class="contact-vertical-line"></div>
        <div class="phone">
            <div class="title">
                <h4>PHONE</h4>
            </div>
            <p>+91-542 220 8546, 220 2126 </p>
            <p>+91-8874617888</p>
        </div>
    </div>
    <div>
        <div class="contact-vertical-line"></div>
        <div class="email">
            <div class="title">
                <h4>EMAIL</h4>
            </div>
            <p>deepakgujrati@gmail.com</p>
            <p>cadkg1992@gmail.com</p>
        </div>
    </div>
</section>
<!-- contact details end -->
<!-- <section class="contact-banner">
    <h1>CONTACT US,<br><span>WE WILL ASSIST YOU
        </span></h1>
    <div class="para">
        <p>We at Deepak K Gujrati & Associates create a respectful work environment that has a great work life
            balance.
            A dynamic office where we thrive together in the spirit of collaboration and fellowship. We work
            hard to accomplish our targets on time. After that, we celebrate.</p>
    </div>
</section> -->
<!-- contact banner end -->

<!-- contact details start -->
<!-- <section class="contact-details">
    <div>
        <div class="contact-vertical-line"></div>
        <div class="location">
            <div class="title">
                <h4>LOCATION</h4>
            </div>
            <p>C 28/142-2A, near Telia Bag crossing, Varanasi, Uttar Pradesh 221002
                NEAR TELIABAGH CROSSING, VARANASI, UTTAR PRADESH, 221002
            </p>
        </div>

    </div>
    <div>
        <div class="contact-vertical-line"></div>
        <div class="phone">
            <div class="title">
                <h4>PHONE</h4>
            </div>
            <p>+91-0542 220 2126</p> -->
            <!-- <p>+91-</p> -->
        <!-- </div>
    </div>
    <div>
        <div class="contact-vertical-line"></div>
        <div class="email">
            <div class="title">
                <h4>EMAIL</h4>
            </div>
            <p>deepakgujrati@gmail.com</p>
        </div>
    </div>
</section> -->
<!-- contact details end -->

<!-- keep in touch form start -->
<div class="keep-in-touch">
    <!-- <div class="title">
        <div class="vertical-line"></div>
        <h1 style="color: #1f4388;">KEEP <br><span>IN TOUCH</span></h1>
    </div> -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14425.286497032665!2d82.9956118!3d25.3269864!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x96c0dab0949670e0!2sDeepak%20K%20Gujrati%20%26%20Associates!5e0!3m2!1sen!2sin!4v1627288097601!5m2!1sen!2sin" width="1700" height="400" style="border:0; border-radius:10px; margin-bottom: 40px;" allowfullscreen="" loading="lazy"></iframe>
</div>
<!-- keep in touch form end -->
