<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    {{#if error}}
                    <p style="color:red; text-align: center">Invalid Credentials</p>
                    {{/if}}
                    <form action="/login" method="POST" enctype="application/x-www-form-urlencoded" class="form-signin">
                        <div class="form-label-group">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email address"
                                required autofocus>
                            <label for="email">Email address</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="Password" required>
                            <label for="password">Password</label>
                        </div>


                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign
                            in</button>
                        <hr class="my-4">
                        {{!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                                class="fab fa-google mr-2"></i> Sign in with Google</button>
                        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                                class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> --}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
