<section class="service-section">
    <h1 class="service-header">WITH OUR PROACTIVE APPROACH <span>WE THINK & PLAN AHEAD</span> FOR THE BENEFIT OF
        OUR
        CLIENTS.</h1>
    <div class="sub-info">
        <img src="./img/service1.png" alt="">
        <div class="sub-info-para">
            <p>Our accounting and finance expertise allows us to take transactional data and provide financial insights
                at the most granular level. Enabling growth and confident decision making is our number one goal.
            </p>
            <p>We work across an array of sectors, from Real Estate to construction and Manufacturing to Software. Our
                clients include Corporates, LLP’s, Partnerships, Privately-held businesses, as well as Individuals,
                HUFs,
                Trusts and Startups.</p>

        </div>
    </div>
</section>


<!-- our services start -->
<!-- <section>
    <div class="header">
        <h1>OUR <span>SERVICES</span></h1>
    </div>
    <div class="work-card-deck">
        <div class="work-card">
            <img src="https://chopdakataria.com/wp-content/uploads/2020/07/np_accounting_3316173_000000.png" alt="">
            <h1 class="title">ACCOUNTING & COMPLIANCE</h1>
            <p>Use of Comprehensive accounting solutions to ensure you are compliant.</p>
        </div>
        <div class="work-card">
            <img src="https://chopdakataria.com/wp-content/uploads/2020/07/np_audit_3123913_000000.png" alt="">
            <h1 class="title">AUDITING</h1>
            <p>Uncover the hidden anomalies buried in your financial transactions.</p>
        </div>
        <div class="work-card">
            <img src="https://chopdakataria.com/wp-content/uploads/2020/07/np_tax_2977683_000000.png" alt="">
            <h1 class="title">TAX SERVICES</h1>
            <p>We work with you to address all your tax needs to your best advantage.</p>
        </div>
    </div>
    <div class="work-card-deck">
        <div class="work-card">
            <img src="https://chopdakataria.com/wp-content/uploads/2020/07/np_legal_3317572_000000.png" alt="">
            <h1 class="title">LEGAL MATTERS</h1>
            <p>Resolve your legal issues.</p>
        </div>
        <div class="work-card">
            <img src="https://chopdakataria.com/wp-content/uploads/2020/07/np_start-up_2260495_000000.png" alt="">
            <h1 class="title">START-UP ADVISORY</h1>
            <p>One stop – to setup and get your business venture going.</p>
        </div>
        <div class="work-card">
            <img src="https://chopdakataria.com/wp-content/uploads/2020/07/np_corporate_3338025_000000.png" alt="">
            <h1 class="title">CORPORATE ADVISORY</h1>
            <p>We advise you at every stage of your business development.</p>
        </div>
    </div>
</section> -->
<!-- our services end -->

<!-- account and Compliance start -->
<section>
    <div class="header">
        <h1> <span> </span></h1>
    </div>
    <div class="account-compliance">
        <div class="ac-top-card">
            <div class="info">
                <h1><span>ACCOUNTING & BUSINESS PROCESS OUTSOURCING</span></h1>
                <div class="sub-header">
                    <p>You focus on your business and our expert team will manage all accounting and compliances.
                    </p>
                </div>
            </div>
            <img src="https://chopdakataria.com/wp-content/uploads/2020/08/CK-04.png" alt="">
        </div>
        <div class="ac-card-deck">
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Accounts Outsourcing</h1>
                    <p>We provide book keeping services via Online and Offline platforms.</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Payroll & HR Services</h1>
                    <p>Our Expert team assist in Payroll processing-strategy and preparation.</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>MIS Reporting</h1>
                    <p>Reporting on financial records / statements which Provides the basis for managers,
                        employers and owners to make management or operating decisions</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Compliance Management Services</h1>
                    <p>Use of specialized software’s to reduce your burden and keep up with the changing
                        regulatory requirements under various laws such as PF, PT, ESIC, FCRA etc.</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Account Reconciliation Services</h1>
                    <p>Supplier, Customer, Bank, TDS, GST, Inter-Company,
                        Inter Accounts & Inventory Reconciliations</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Fixed Assets Management</h1>
                    <p>Assist in preparing Fixed assets register under Companies Act. Have expertise of physical
                        verification & tagging (Bar Code / RFID) of Fixed Assets in Hotels,
                        Hospitals, Pharma Companies, Power Plants, Heavy Industries, Manufacturing.</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- account and Compliance end -->

<!-- Auditing start -->
<section>
    <div class="header">
        <h1> <span> </span></h1>
    </div>
    <div class="account-compliance">
        <div class="ac-top-card">
            <div class="info">
                <h1><span>Auditing</span></h1>
                <div class="sub-header">
                    <p>We are providing audit and assurance services under various statutes for last more than 30 years.
                    </p>
                </div>
            </div>
            <img src="https://chopdakataria.com/wp-content/uploads/2020/06/CK-02.png" alt="">
        </div>
        <div class="ac-card-deck">
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Internal Audit & Risk Analysis</h1>
                    <p>Comprehensive evaluation of internal controls, internal systems and internal processes in
                        organizations and recommending areas for improvement.
                        Provide services like risk assessment of the entity’s business & its key business process.
                        .</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Statutory Audit</h1>
                    <p>We carry out Statutory and Tax Audits to ensure that financial statements present a
                        true and fair view of financial positions and operational results in accordance with the
                        guidelines issued by the regulator</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Bank Audit</h1>
                    <p>Expertise in Statutory, Concurrent Forensic, Stock Audit and other Bank Assignments</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Stock Verification</h1>
                    <p>Physical verification of stock for Corporates and Banks</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>GST Audit</h1>
                    <p>Audits required under section 35 of the CGST Act</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Audit of special entities</h1>
                    <p>Expertise in audit of Trusts, NGOs, Society, Trade Organization and other non-profit
                        organization.</p>
                </div>
            </div>

        </div>
    </div>

</section>
<!-- Auditing end -->

<!-- tax services start -->
<section>
    <div class="header">
        <h1> <span> </span></h1>
    </div>
    <div class="account-compliance">
        <div class="ac-top-card">
            <div class="info">
                <h1><span>Income Tax & GST</span></h1>
                <div class="sub-header">
                    <p>Our experienced tax team identifies key tax planning opportunities that
                        minimize both your current and future tax liabilities. We provide year-round
                        customized and expert tax services in Income tax and GST.
                    </p>
                </div>
            </div>
            <img src="https://chopdakataria.com/wp-content/uploads/2020/06/CK-07.png" alt="">
        </div>
        <div class="ac-card-deck">
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Registrations</h1>
                    <p>Registrations under section 12A & 80G for Trusts and Societies.
                        Registration under GST
                    </p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Returns filings</h1>
                    <p>Return filing under Income tax Act, GST for corporate and non-corporate assessees.
                        Also file TDS returns.</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Tax Planning</h1>
                    <p>We provide Tax planning within the four corner of the law.
                    </p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Certification & Tax Audits</h1>
                    <p>Comprehensive Income tax and GST Audits. Certification of documents as per the norms.</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">

            </div>
        </div>
    </div>

</section>
<!-- tax services end -->

<!-- leagal matters start -->
<section>
    <div class="header">
        <h1> <span> </span></h1>
    </div>
    <div class="account-compliance">
        <div class="ac-top-card">
            <div class="info">
                <h1><span>Family Partition and Settlements</span></h1>
                <div class="sub-header">
                    <p>We have an expert team which will coordinate with different stake holders and try to make a
                        consensus on different issues
                    </p>
                </div>
            </div>
            <img src="https://chopdakataria.com/wp-content/uploads/2020/08/CK-10.png" alt="">
        </div>
        <div class="ac-card-deck">
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Working out the family kitty</h1>
                    <p>Identification of various individuals and HUF properties.
                    </p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Valuation of Assets</h1>
                    <p>Assist in fair valuation.</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Drafting of Partition Deed</h1>
                    <p>Careful draft to suit every stakeholder.
                    </p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Certification & Tax Audits</h1>
                    <p>Comprehensive Income tax and GST Audits. Certification of documents as per the norms.</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- leagal matters end -->

<!-- leagal matters start -->
<section>
    <div class="header">
        <h1> <span> </span></h1>
    </div>
    <div class="account-compliance">
        <div class="ac-top-card">
            <div class="info">
                <h1><span>LEGAL </span>MATTERS</h1>
                <div class="sub-header">
                    <p>With the right knowledge base and a careful analysis of law and facts, our qualified
                        professionals offer the following services:
                    </p>
                </div>
            </div>
            <img src="https://chopdakataria.com/wp-content/uploads/2020/08/CK-10.png" alt="">
        </div>
        <div class="ac-card-deck">
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Drafting and Review</h1>
                    <p>Drafting and review of legal agreements, documents, deeds etc.
                    </p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Legal Opinions</h1>
                    <p>Legal opinions on complex matters to take informed decisions</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Representation before tax authorities</h1>
                    <p>Representation before tax authorities for assessments, search and seizure cases.
                    </p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Representation before Appellate authorities</h1>
                    <p>Drafting and filing of appeal, and representation before the appellate authorities.</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- leagal matters end -->

<!-- startup advisary start -->
<section>
    <div class="header">
        <h1> <span> </span></h1>
    </div>
    <div class="account-compliance">
        <div class="ac-top-card">
            <div class="info">
                <h1><span>STARTUP </span>ADVISORY</h1>
                <div class="sub-header">
                    <p>Our team has worked with numerous early-stage companies, some of which have grown
                        to become market leaders. Our team members have a diverse and significant track
                        record working with entrepreneurs.
                    </p>
                </div>
            </div>
            <img src="https://chopdakataria.com/wp-content/uploads/2020/06/CK-05-1.png" alt="">
        </div>
        <div class="ac-card-deck">
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Structuring</h1>
                    <p>Advising on the various structuring options to select the most ideal one.
                    </p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Incorporation and Registration</h1>
                    <p>Right from registration under Companies Act,
                        we help to comply with registration requirement under other laws like PF, ESI, FSSAI,
                        Trademark, Patent etc.
                    </p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Setting up SOP’S, Internal Controls etc</h1>
                    <p>Laying down standard operating procedures, and adequate internal controls
                    </p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Setting up Accounting systems</h1>
                    <p>To bring a detailed accounting system in place.</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Intellectual Property (IP) Registration</h1>
                    <p>To protect your IP by way of registration either as a Trademark, Patent or Copyright.</p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Virtual CFO Services</h1>
                    <p>To become a part of your finance team and provide end to end services.</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- startup advisary end -->

<!-- corporate advisary start -->
<section>
    <div class="header">
        <h1> <span> </span></h1>
    </div>
    <div class="account-compliance">
        <div class="ac-top-card">
            <div class="info">
                <h1><span>CORPORATE </span>ADVISORY</h1>
                <div class="sub-header">
                    <p>We assert that success of a business largely hinges on the effectiveness of top-level
                        governance. Here are the different ways we can help you revitalize your company:
                    </p>
                </div>
            </div>
            <img src="https://chopdakataria.com/wp-content/uploads/2020/06/CK-06.png" alt="">
        </div>
        <div class="ac-card-deck">
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Right Documentation</h1>
                    <p>Set the tone-at-the-top with a well-written Code of Ethics, Standard Operating
                        Procedures, agreements, MOU’s etc.
                    </p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Project Reports and Valuation Reports</h1>
                    <p>Detailed project and valuation reports to ease the end user in decision making.
                    </p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Advisory and Secretarial Services</h1>
                    <p>We provide a range of Corporate law and Secretarial law related services from structuring
                        to reorganization and from regulatory to compliances.
                    </p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Due Diligence</h1>
                    <p>We undertake financial due diligence for prospective investors/venture capitalists.</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- corporate advisary end -->

<!-- project financeing  start -->
<section>
    <div class="header">
        <h1> <span> </span></h1>
    </div>
    <div class="account-compliance">
        <div class="ac-top-card">
            <div class="info">
                <h1><span>PROJECT </span>FINANCING</h1>
                <div class="sub-header">
                    <p>Determine the financial structure, a mixture of debt and equity that will be
                        used to finance the project. Also assist in arranging finance from Bank and
                        financial institutions.
                    </p>
                </div>
            </div>
            <img src="https://chopdakataria.com/wp-content/uploads/2020/06/CK-06.png" alt="">
        </div>
        <div class="ac-card-deck">
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Preparation of Project Report</h1>
                    <p>We compile project report covering all areas required.
                    </p>
                </div>
            </div>
            <div class="ac-service-card">
                <img src="http://www.w3.org/2000/svg" alt="">
                <div class="text">
                    <h1>Liaison with Banks & FI </h1>
                    <p>Maintain close contact to ensure timely disbursement.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- project financeing  end -->
